<style>
    .dropdown{
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        position: absolute;
        background-color: #f1f1f1;
        min-width: 350px;
        box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-size: 0.9rem;
    }

    .dropdown-content a {
        color: #000;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-item-parent {
        position: relative;
        display: block;
    }

    .dropdown-item-close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.8rem;
        padding-right: 5px;
        transition: 0.3s;  
    }

</style>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" onclick='showNotification()'>
        Notifications - {{notifications.count}}
      </button>
    <div class="dropdown-content d-none" id="notification-container">
        {% for notification in notifications %}
            {% if notification.post %}
                {% if notification.notification_type == 1 %}
                    <div class="dropdown-item-parent">
                        <a href="{% url 'show-notification' notification.id notification.post.id %}">@{{ notification.from_user.username }} liked your post.</a>
                        <span class="dropdown-item-close">&times;</span>
                    </div>
                {% elif notification.notification_type == 2 %}
                    <div class="dropdown-item-parent">
                        <a href="{% url 'show-notification'  notification.id notification.post.id %}">@{{ notification.from_user.username }} commented on your post.</a>
                        <span class="dropdown-item-close">&times;</span>
                    </div>
                {% endif %}
            {% elif notification.comment %}
                {% if notification.notification_type == 1 %}
                    <div class="dropdown-item-parent">
                        <a href="{% url 'show-notification'  notification.id notification.comment.post.id %}">@{{ notification.from_user.username }} liked your comment.</a>
                        <span class="dropdown-item-close">&times;</span>
                    </div>
                {% elif notification.notification_type == 3 %}
                    <div class="dropdown-item-parent">
                        <a href="{% url 'show-notification'  notification.id notification.comment.post.id %}">@{{ notification.from_user.username }} replied your comment.</a>
                        <span class="dropdown-item-close">&times;</span>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>


<script>
    function showNotification() {
        const container = document.getElementById('notification-container');

        if (container.classList.contains('d-none')) {
            container.classList.remove('d-none');
        }else {
            container.classList.add('d-none')
        }
    }
</script>