{% extends 'base.html' %}
{% load static %}

{% block content %}

<style type="text/css">
	.image-container{
		max-width: 250px;
		height: auto;
	}
	.field-heading{
		color: var(--secondary-text-color);
	}
	.icon-container:hover {
		opacity: 0.3;
		cursor: pointer;
	}
	.friends-icon{
		color: #4287f5;
		font-size: 40px;
	}
	.person-add-icon{
		color: #4287f5;
		font-size: 40px;
	}
	.friend-text{
		font-weight: 500;
		color: black;
	}
	.friends-btn{
		background-color: #cccccc;
		border-color: #cccccc;
		color: #000;
		font-weight: 500;
	}
	.friends-btn:hover {
		background-color: #bfbfbf;
		border-color: #bfbfbf;
	}
	.dropdown-toggle::after { 
		content: none; 
	}
	.card{
		border-radius: 12px;
	}
	.material-icons{
		font-size: 30px;
	}
	.material-icons:hover{
		cursor: pointer;
	}
	.confirm-friend-request{
		color: green;
	}
	.confirm-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request:hover {
		opacity: 0.3;
	}
	.decline-friend-request{
		color: red;
	}
	.message-btn-text{
		font-weight: 500;
	}
</style>



<div class="container-fluid">
	<div class="d-flex flex-row justify-content-center flex-wrap align-items-start">
		<div class="card profile-card m-2 ml-5">
		  <div class="card-body">
		  	<div class="d-flex flex-column justify-content-center p-4">
		  		<div class="image-container mx-auto mb-4">
		  			<img class="d-block border border-dark rounded-circle img-fluid mx-auto profile-image" alt="default logo" id="id_profile_image" src="{{profile_image.url}}">
		  		</div>
				<p class="mt-4 mb-1 field-heading">Name</p>
				<h5>{{first_name}} {{last_name}}</h5>

		  		<p class="mt-4 mb-1 field-heading">E-mail</p>
		  		<h5>{{email}}</h5>
		  		<p class="mt-4 mb-1 field-heading">Username</p>
		  		<h5>{{username}}</h5>

		  		<!-- If Auth user is viewing their own profile -->
		  		{% if is_self %}
		  		<a  class="mt-4 btn btn-primary" href="{% url 'edit-account' user_id=id %}">Update Profile</a>
				<div class="d-flex flex-column mt-4">
					<a class="m-auto" href="{% url 'password_change' %}">Change Password</a>
				</div>
		  		{% endif %}		
		  	</div>
		  </div>
		</div>

        <!-- Account's Posts -->
        
        <div class="container">
            <h1 class="display-4 text-center"> YOUR POSTS </h1>
            <div class="blog-post-container">
                {% for post in posts %}
                <div class="blog-post-container my-2">
                    {% include 'snippets/blog_post_snippet.html' with blog_post=post %}
                  </div>
                {% endfor %}
            </div>
        </div>
        <!-- End Account's Posts -->
		
	</div>
</div>

{% endblock content %}


















