<style type="text/css">
	.card{
		max-width: 700px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
	}
</style>

{% if blog_post %}
<div class="container">
	<div class="row">
		<!-- Blog Post -->
		<div class="card m-auto">
			<h5 class="card-header">
				<div class="row d-flex justify-content-between mx-2">
					<div ><a href="{% url 'account' user_id=blog_post.author.id %}">{{blog_post.author.username}}</a></div>
					<div ><a href="{% url 'show_category' blog_post.category.name %}" class='text-decoration-none text-dark'>{{blog_post.category.name}}</a></div>
				</div>
			</h5>
			<div class="card-body mt-2 mb-2">
				<a href="{% url 'detail-post' post.slug %}">
					<h2 class="card-title">{{blog_post.title}}</h2>
				</a>
				<p class="card-text">{{blog_post.body|truncatechars:180}}</p>
				{% if blog_post.author == request.user %}
					<a href="{% url 'edit-post' blog_post.slug %}" class="btn btn-outline-dark">Edit Post</a>
				{% endif %}
			</div>
			<div class="card-footer text-muted">
                <small> Last Edit on {{blog_post.date_updated}} by {{blog_post.author.username}} </small>
			</div>
		</div>
	</div>
</div>
{% else %}
	<div class="container">
		<div class="row">
			<div class="card m-auto">
				<div class="card-body mt-2 mb-2">
					<h2 class="card-title">
						No results
					</h2>
					<p class="card-text">There were no results matching your search: "{{query}}"</p>
				</div>
			</div>
		</div>
	</div>

{% endif %}