{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Create Post{% endblock title %}

{% block content %}

<style type="text/css">
    .create-form {
        width: 100%;
        max-width: 100%;
        padding: 15px;
        margin: auto;
    }

    .submit-button {
        max-width: 200px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-7 offset-lg-1">
            <form class="create-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- title -->
                <div class="form-group">
                    <label for="id_title">Title</label>
                    <input class="form-control" type="text" name="title" id="id_title" placeholder="Title" required
                        autofocus>
                </div>

                <!--Header Image-->
                <div class="form-group">
                    <label for="id_title">Header Image</label>
                    {% render_field form.header_image class="form-control" placeholder="Choose a header image!" %}
                </div>
                
                <!--Tag-->
                <div class="form-group">
                    <label for="id_title">Post Tag</label>
                    {% render_field form.tag class="form-control" placeholder="Insert tag for your post!" %}
                </div>

                <!-- Body -->
                <div class="form-group">
                    <label for="id_body">Content</label>
                    {% render_field form.body class="form-control" placeholder="This post is about..." %}
                    {{form.media}}
                </div>

                <!-- Submit btn -->
                <div class="d-flex justify-content-center"><button class="submit-button btn btn-lg btn-outline-primary btn-block" type="submit">POST IT</button></div>
            </form>

            
        </div>
    </div>
</div>



{% endblock content %}