{% extends 'base.html' %}

{% block title %}{{tag_name}}{% endblock title %}


{% block content %}
<style type="text/css">
  @media (max-width: 768px) {
    .right-column {
      margin-left: 0px;
    }
  }

  @media (min-width: 768px) {
    .right-column {
      margin-left: 20px;
    }
  }

  .blog-post-container {
    background-color: #f2f2f2;
    margin-bottom: 20px;
    width: 100%;
  }

  .create-post-bar {
    background-color: #f2f2f2;
    margin-bottom: 20px;
  }

  .left-column {
    padding: 0px;
  }

  .right-column {
    padding: 0px;
  }
</style>

<div class="container">
  <div class="row">

  
    <!-- Right 'Create Space' Bar -->
    <div class="create-post-bar d-lg-none col-lg-7 offset-lg-1 text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create a Space</h5>
          <hr>
          <p class="card-text">Create a space and find out what people think.</p>
          {% if request.user.is_authenticated %}
          <a href="{% url 'create-space' %}" class="btn btn-outline-primary">Create Space</a>
          {% else %}
          <a href="{% url 'register' %}" class="btn btn-outline-primary">Create Space</a>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- End Right 'Create Space' Bar -->

    <!-- Blog Feed -->
    <div class="left-column col-lg-7 offset-lg-1">
      <div class="text-center"><h2>Spaces</h2></div>
      {% for space in spaces %}

        <a href="{% url 'show_space' space.name %}" class="text-decoration-none text-dark">
          <div class="card m-2">
            <div class="card-body m-2">
             {{space.name}}
            </div>
          </div>
  
        </a>
      {% endfor %}

    </div>
    <!-- End Blog Feed -->



      <!-- Right 'Create Space' Column -->
      <div class="create-post-bar">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Create a Space</h5>
            <hr>
            <p class="card-text">Create a space and find out what people think.</p>
            {% if request.user.is_authenticated %}
            <a href="{% url 'create-space' %}" class="btn btn-outline-primary">Create Space</a>
            {% else %}
            <a href="{% url 'register' %}" class="btn btn-outline-primary">Create Space</a>
            {% endif %}
          </div>
        </div>
      </div>
      <!-- End Right 'Create Space' Column -->
    </div>
    

  </div>
</div>




{% endblock content %}











